.pf-tracker-option {
  margin-bottom: 15px;
    padding: 1em;
    color: var(--cldark);
    display: flex;
    font-weight: 500;
    border: 1px solid #e3e8ed;
    border-radius: 5px;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.pf-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.pf-tracker-option span {
	font-size:18px;
}

.pf-custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #bfc7cf;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
}

.pf-tracker-option input[type="number"] {
	background: white;
    border: 1px solid #e3e8ed;
    padding: .5em;
    border-radius: 5px;
    font-family: inherit;
    color: var(--cldark);
    flex: 1;
}

#pf-price-tracker-form {
	margin-top:1em;
}

.pf-custom-checkbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="radio"]:checked + .pf-checkbox-label .pf-custom-checkbox {
    background-color: #5e2ced;
    border-color: #5e2ced;
}

input[type="radio"]:checked + .pf-checkbox-label .pf-custom-checkbox::after {
  display: block;
}

.pf-tracker-option input[type="number"]:disabled {
    opacity: 0.5;
    background: #e3e8ed;
}

button.pfbtn.pfbtn-delete {
    margin-top: 1em;
    background: #D96556;
    color: white;
    border: none;
	transition:.2s ease;
}

button.pfbtn.pfbtn-delete:hover {
    background: #cf4c3b;
}