.bgp {
	display:flex;
	flex-direction:column;
	color:#21273a;
}

.bgp-item {
	display:flex;
	align-items:center;
	gap:1em;
}

.bgp-img {
	width:80px;
	height:80px;
	object-fit:cover;
	display:flex;
	border-radius:5px;
}

.bgp-right {
	margin-left:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.bgp-cta {
	padding: 0.6em 0.75em;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid;
    min-width: 200px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
    transition: .2s;
}

.bgp-cta:hover {
	color:#21273a;
}

.bgp-text {
	line-height:1.4;
}

.bgp-title, .bgp-text-link, .bgp-main, .bgp-name {
	font-size:16px;
	font-weight:400;
	color:#21273a;
}

.bgp-text-link {
	font-size: 12px;
    text-transform: uppercase;
    margin-top: 0.8em;
    display: flex;
    font-weight: 600;
    letter-spacing: 1px;
	align-items:center;
}

.bgp-text-link svg {
	fill:currentColor;
}

.bgp-name {
	font-weight:600;
}

.bgp .bgp-main {
	font-weight: 600;
	padding:.75em 0;
	font-size:18px;
}

/** Border Logic **/
.bgp > div {
	border-bottom:1px solid #e6e5e9;
	padding:1em 0;
}

.bgp > div:first-child {
	border-top:1px solid #e6e5e9;
}

/** Media query **/

@media screen and (max-width:620px){
	.bgp-item {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 0.75em;
	}
	
	.bgp-link-img { order:2; }
	.bgp-text { order:1; }
	
	.bgp-right {
		grid-column:1/3;
		order:3;
		margin-left:unset;
	}
	
	.bgp-cta {
		width:100%;
	}
}