body ul.jumplinks {
	display: flex;
    list-style-type: none;
    gap: 0.75em;
    flex-wrap: wrap;
    padding: 1em 0;
	border-top:1px solid #f4f4f4;
	border-bottom:1px solid #f4f4f4;
}

body ul.jumplinks li {
    display: flex;
	align-items:center;
	font-weight:700;
	color:#21273a;
}

body ul.jumplinks li a {
    border: 1px solid #e6e5e9;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 16px;
}