@font-face {
    font-family: 'Figtree';
    src: url('Figtree-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}
