@font-face {
    font-family: 'Figtree';
    src: url('Figtree-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}
